In [4]:
import pandas as pd 
import seaborn as sns 
import numpy as np
import flake8

In [5]:
df_movies = pd.read_csv(r"C:\Users\slipc\OneDrive\Рабочий стол\Python\movies.csv") # transform csv to dataframe

In [7]:
#Перечислите все столбцы набора данных и изучите их типы. Изучите статистику
#по различным областям. Опишите, какие данные у нас есть
df_movies.head(n=10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010

In [8]:
df_movies.columns# 'Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
#'Rotten Tomatoes %', 'Worldwide Gross', 'Year' - всі колонки, що є в цьому дата фреймі.

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [9]:
df_movies.index

RangeIndex(start=0, stop=77, step=1)

In [71]:
df_movies.shape# тож маємо 77 ліній та 8 колонок

(75, 8)

In [12]:
df_movies.tail()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [15]:
df_movies.sample(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007

In [16]:
df_movies.info()#запит, що дозволяє побачити типи даних в кожній колонці. Маємо 4 колонки типу object + 3 колонки типу int64 + 1 колонка типу float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [17]:
df_movies.describe()#маємо данні з 2007 по 2011 рік з оцінками глядачів від 35 % до 89%. Є фільми, що не принесли прибутку, 
#що здається дивним, можливо помилка при вводі даних

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [20]:
df_movies.isnull().sum()# даних з null значеннями в датафреймі немає.

Film                 0
Genre                0
Lead Studio          0
Audience score %     0
Profitability        0
Rotten Tomatoes %    0
Worldwide Gross      0
Year                 0
dtype: int64

In [6]:
#4 Сколько всего фильмов в наборе данных?
df_movies["Film"].unique().size # запит показує, що унікальних об'єктів 75

75

In [70]:
df_movies.duplicated().sum()#маємо 2 дублікати

0

In [69]:
df_movies.drop_duplicates(inplace = True)# команда для видалення дублікатів

In [39]:
#5 Сколько фильмов содержится в наборе данных за каждый год?
#df_movies[df_movies['Year'] == 2011].count()
check_2007 = df_movies['Year'].value_counts()[2007]
print(f"{check_2007} фільмів маємо за 2007 рік")

check_2008 = df_movies['Year'].value_counts()[2008]
print(f"{check_2008} фільмів маємо за 2008 рік")

check_2009 = df_movies['Year'].value_counts()[2009]
print(f"{check_2009} фільмів маємо за 2009 рік")

check_2010 = df_movies['Year'].value_counts()[2010]
print(f"{check_2010} фільмів маємо за 2010 рік")

check_2011 = df_movies['Year'].value_counts()[2011]
print(f"{check_2011} фільмів маємо за 2011 рік")

11 фільмів маємо за 2007 рік
20 фільмів маємо за 2008 рік
12 фільмів маємо за 2009 рік
20 фільмів маємо за 2010 рік
14 фільмів маємо за 2011 рік

In [52]:
#6 Покажите подробную информацию о наименее и наиболее прибыльных
#фильмах в наборе данных.
print(df_movies[df_movies["Profitability"] == df_movies["Profitability"].max()])#найбільш прибутковий

         Film  Genre  Lead Studio  Audience score %  Profitability
68  Fireproof  Drama  Independent                51         66.934  \

    Rotten Tomatoes % Worldwide Gross  Year
68                 40         $33.47   2008

In [53]:
print(df_movies[df_movies["Profitability"] == df_movies["Profitability"].min()])#найменш прибуткові фільми. Чи може прибутковість = 0
# чи це не помилка введення даних

                  Film    Genre  Lead Studio  Audience score %  Profitability
3         When in Rome   Comedy       Disney                44            0.0  \
33  Our Family Wedding   Comedy  Independent                49            0.0
57           Jane Eyre  Romance    Universal                77            0.0

    Rotten Tomatoes % Worldwide Gross  Year
3                  15         $43.04   2010
33                 14         $21.37   2010
57                 85         $30.15   2011

In [64]:
#7 Значение «Жанр» временами кажется непоследовательным; попробуйте найти
#эти несоответствия и исправить их.
df_movies["Genre"].unique()# бачимо, що жанри романтика та комедія мають декілька варіантів написання

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Action'],
      dtype=object)

In [63]:
for x in df_movies.index:#заміна 'Romence' на 'Romance'
  if df_movies.loc[x, "Genre"] == 'Romence':
    df_movies.loc[x, "Genre"] = 'Romance'

In [57]:
for x in df_movies.index:#заміна 'romance' на 'Romance'
  if df_movies.loc[x, "Genre"] == 'romance':
    df_movies.loc[x, "Genre"] = 'Romance'

In [59]:
for x in df_movies.index:#заміна 'Comdy' на 'Comedy'
  if df_movies.loc[x, "Genre"] == 'Comdy':
    df_movies.loc[x, "Genre"] = 'Comedy'

In [61]:
for x in df_movies.index:#заміна 'comedy' на 'Comedy'
  if df_movies.loc[x, "Genre"] == 'comedy':
    df_movies.loc[x, "Genre"] = 'Comedy'

In [66]:
df_movies.sample(15)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009
70,Dear John,Drama,Sony,66,4.598800,29,$114.97,2010
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
28,Remember Me,Drama,Summit,70,3.491250,28,$55.86,2010
56,Just Wright,Comedy,Fox,58,1.797417,45,$21.57,2010
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
66,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,27,$102.22,2009
42,Miss Pettigrew Lives for a Day,Comedy,Independent,70,0.252895,78,$15.17,2008
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
57,Jane Eyre,Romance,Universal,77,0.000000,85,$30.15,2011
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
53,Leap Year,Comedy,Universal,49,1.715263,21,$32.59,2010
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009

In [85]:
#8 Сохраните (в новый файл CSV) 10 лучших комедий по количеству зрителей;
#покажите только название фильма, год и студию

top_df_movies = df_movies.nlargest(10, ['Audience score %'], keep='first')

In [86]:
final_csv_top = top_df_movies[["Film","Year","Lead Studio"]]

In [87]:
final_csv_top.head(10)

                                   Film  Year            Lead Studio
6                                WALL-E  2008                 Disney
74                   A Dangerous Method  2011            Independent
22                              Tangled  2010                 Disney
39                 My Week with Marilyn  2011  The Weinstein Company
43                    Midnight in Paris  2011                   Sony
72                  Across the Universe  2007            Independent
54                           Knocked Up  2007              Universal
12                             Twilight  2008                 Summit
31                      P.S. I Love You  2007            Independent
20  The Curious Case of Benjamin Button  2008           Warner Bros.

In [88]:
final_csv_top.to_csv('Best_10_films.csv')

In [ ]:
# 9.Используйте pip для установки двух библиотек: lxml, MySQL-connector-python.
#Через термінал вводимо команди pip install lxml і pip install MySQL-connector-python - зроблено